@charset "UTF-8";

table {
  width: 100%;

}
.about h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
  text-shadow: 0 0 5px #ffa600, 0 0 15px #ff8800, 0 0 20px #ff6600, 0 0 40px #ff8800, 0 0 60px #ff9100, 0 0 10px #ff7300, 0 0 98px #ffc400;
  color: #fff2a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa600, 0 0 15px #ff8800, 0 0 20px #ff6600, 0 0 40px #ff8800, 0 0 60px #ff9100, 0 0 10px #ff7300, 0 0 98px #ffc400;
  color: #fff2a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa600, 0 0 15px #ff8800, 0 0 20px #ff6600, 0 0 40px #ff8800, 0 0 60px #ff9100, 0 0 10px #ff7300, 0 0 98px #ffc400;
    color: #fff2a9;
  }
}
html,
body {
  height: 100%;
}
.max-height {
  height: 100%;
}
html {
  background-color: black;
  color: rgb(255, 255, 255);
}
/* フォント */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-english {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}
.tangerine {
  font-family: "Ballet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bodoni {
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* ヘッダー-------------- */
.main-nav {
  font-family: "Philosopher", serif;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.3rem;
  list-style: none;
  width: 100%;
  height: 100px;
  padding: 20px;
  position: relative;
  inset-inline: 50%;
  width: 100vw;
  margin-inline: -50vw;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
}
.main-nav a:hover {
  color: rgb(112, 112, 112);
}
.about h1{
    margin-top: 1000px;
    text-align: center;
    font-size: 130px;
}
.about h3{
    font-size: 20px;
    margin-top: 10px;
    font-family: "Philosopher", serif;
    text-align: center;
}
.title{
    text-align: center;
    margin-top: 100px;
    font-family: "Philosopher", serif;
}
.title h3{
    margin-top: 200px;
    font-size: 30px;
}
.title p{
    margin-top:50px;
    margin-bottom: 100px;
    font-size: 18px;
}
.eyeshadow{
    text-align: center;
    margin-bottom: 200px;
    font-family: "Philosopher", serif;
}
.eyeshadow h1{
  font-size: 100px;
  margin-bottom: 100px;
}
.eyeshadow h3{
  margin-top:20px;
  font-size: 30px;
  margin-bottom: 50px;
}
.eyeshadow p{
  margin-bottom: 50px;
font-size: 18px;  
}
.eyeshadow h2{
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 10px;
}
.before{
margin-bottom: 150px;
}
.mascara{
    text-align: center;
    margin-top: 200px;
    font-family: "Philosopher", serif;
}
.mascara h1{
  font-size: 100px;
  margin-bottom: 100px;
}
.mascara h3{
  margin-top:20px;
  font-size: 30px;
  margin-bottom: 50px;
}
.mascara p{
  margin-bottom: 50px;
font-size: 18px;  
}
.mascara h2{
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 10px;
}
.lip{
    text-align: center;
    margin-top: 200px;
    font-family: "Philosopher", serif;
}
.lip h1{
  font-size: 100px;
  margin-bottom: 100px;
}
.lip h3{
  margin-top:20px;
  font-size: 30px;
  margin-bottom: 50px;
}
.lip p{
  margin-bottom: 50px;
font-size: 18px;  
}
.lip h2{
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 10px;
}
.end{
  margin-top: 200px;
  text-align: center;
}
.end .smile{
  font-family: "Philosopher", serif;
  margin-bottom: 150px;
}
.end h2{
  font-size: 30px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.end h1 {
  font-size: calc(20px + 10vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa600, 0 0 15px #ff8800, 0 0 20px #ff6600, 0 0 40px #ff8800, 0 0 60px #ff9100, 0 0 10px #ff7300, 0 0 98px #ffc400;
  color: #fff2a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa600, 0 0 15px #ff8800, 0 0 20px #ff6600, 0 0 40px #ff8800, 0 0 60px #ff9100, 0 0 10px #ff7300, 0 0 98px #ffc400;
    color: #fff2a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa600, 0 0 15px #ff8800, 0 0 20px #ff6600, 0 0 40px #ff8800, 0 0 60px #ff9100, 0 0 10px #ff7300, 0 0 98px #ffc400;
    color: #fff2a9;
  }
}
.cute{
    font-family: "Philosopher", serif;
    margin-top: 300px;
    text-align: center;
    font-size: 20px;
  }
  .hatena{
    text-align: center;
  }
/* ボタン */
/* Red */
.door {
  display: flex;
  margin-bottom: 280px;
  text-align: center;
}
.Rbtn {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.Rbtn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: 0.01s ease-in-out;
  transition: 0.01s ease-in-out;
}
.Rbtn img:nth-of-type(2) {
  left: 200%;
}
.Rbtn:hover img:nth-of-type(2) {
  left: 50%;
}
/* Blue */
.Bbtn {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.Bbtn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: 0.01s ease-in-out;
  transition: 0.01s ease-in-out;
}
.Bbtn img:nth-of-type(2) {
  left: 200%;
}
.Bbtn:hover img:nth-of-type(2) {
  left: 50%;
}
/* Yellow */
.Ybtn {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.Ybtn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: 0.01s ease-in-out;
  transition: 0.01s ease-in-out;
}
.Ybtn img:nth-of-type(2) {
  left: 200%;
}
.Ybtn:hover img:nth-of-type(2) {
  left: 50%;
}
/* purple */
.Pbtn {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.Pbtn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: 0.01s ease-in-out;
  transition: 0.01s ease-in-out;
}
.Pbtn img:nth-of-type(2) {
  left: 200%;
}
.Pbtn:hover img:nth-of-type(2) {
  left: 50%;
}
/* video */
.video {
    width: 100%;
    height: 100vh;
    background: url(../img/kv-alternative.jpg) no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    overflow: hidden;
  }
  .video::after {
    content: "";
    width: 80%;
    height: 80%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  /* last */
.logo {
    text-align: center;
    width: 65%;
    height: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    font-size: 50px;
  }
  
  .logo b {
    color: rgb(255, 255, 255);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffffff, 0 0 0.5em #ffffff, 0 0 0.1em #ffffff, 0 10px 3px #000;
  }
  .logo b span {
    animation: blink linear infinite 2s;
  }
  .logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #3f3f3f;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  /* Arogo */
  .Arogo {
    margin-top: -80px;
    text-align: center;
  }
  /* フッター*/
footer {
    padding: 50px;
    text-align: center;
    font-size: 20px;
  }
  page-footer {
    font-family: "Ballet", serif;
  }
  .info {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
  }
  .info th,
  .info td {
    border-bottom: 1px solid #ffffff;
  }
  .info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
  }
  .info td {
    padding: 1rem 0;
  }
  /* about */
  about {
    color: rgb(255, 255, 255);
  }
  @media screen and (min-width: 768px) {
    .video {
      min-width: 750px;
    }
  }
  