@charset "UTF-8";

table {
  width: 100%;
}
body{
    background-color: black;
}
html,
body {
  height: 100%;
}
.max-height {
  height: 100%;
}
html {
  background-color: black;
  color: rgb(255, 255, 255);
}
/* フォント */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-english {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}
.tangerine {
  font-family: "Ballet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bodoni {
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* ヘッダー-------------- */
.main-nav {
  font-family: "Philosopher", serif;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.3rem;
  list-style: none;
  width: 100%;
  height: 100px;
  padding: 20px;
  position: relative;
  inset-inline: 50%;
  width: 100vw;
  margin-inline: -50vw;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
}
.main-nav a:hover {
  color: rgb(112, 112, 112);
}
.about h1 {
    font-family: "Philosopher", serif;
    right:0;
    bottom:0;
    left:0;
top:700px;
    position: absolute;
    font-size: calc(20px + 20vh);
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 40px #000000, 0 0 60px #000000, 0 0 10px #000000, 0 0 98px #000000;
    color: #ffffff;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    letter-spacing: 0.4em;
  }
  
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #000000, 0 0 60px #000000, 0 0 10px #000000, 0 0 98px #000000;
        color: #ffffff;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #000000, 0 0 60px #000000, 0 0 10px #000000, 0 0 98px #000000;
    color: #ffffff;
    }
  }
.about p{
    right:0;
    bottom:0;
    left:0;
top:650px;
    width: 500px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(128, 0, 0);
    height:40px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto; 
text-align: center;
}
.bottom{
    text-align: center;
    
}
h2{
    position: absolute;
    top:2000px;
    right:0;
    bottom:0;
    left:0;
    width: 600px;
    margin-top: -430px;
    font-family: "Philosopher", serif;
     color: #000000;
    background-color: rgb(255, 255, 255);
    height:80px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 60px;
}
/* main */
.main h3{
    right:0;
    bottom:0;
    left:0;
top:2300px;
    width: 240px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:80px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 60px;
}
.main p{
    right:0;
    bottom:0;
    left:0;
top:2500px;
    width: 250px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.main2 p{
    right:0;
    bottom:0;
    left:0;
top:2600px;
    width: 250px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.main3 p{
    right:0;
    bottom:0;
    left:0;
top:2700px;
    width: 280px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
/* movie */

.movie h3{
    right:0;
    bottom:0;
    left:0;
top:3000px;
    width: 290px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:80px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 60px;
}
.movie p{
    right:0;
    bottom:0;
    left:0;
top:3100px;
    width: 250px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.movie2 p{
    right:0;
    bottom:0;
    left:0;
top:3200px;
    width: 250px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.movie3 p{
    right:0;
    bottom:0;
    left:0;
top:3300px;
    width: 250px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
/* illustration */

.illustration h3{
    right:0;
    bottom:0;
    left:0;
top:3600px;
    width: 700px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:80px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 60px;
}
.illustration p{
    right:0;
    bottom:0;
    left:0;
top:3800px;
    width: 290px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.illustration2 p{
    right:0;
    bottom:0;
    left:0;
top:3900px;
    width: 500px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
/* camera */

.camera h3{
    right:0;
    bottom:0;
    left:0;
top:4300px;
    width: 700px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:80px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 60px;
}
.camera p{
    right:0;
    bottom:0;
    left:0;
top:4400px;
    width: 250px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.camera2 p{
    right:0;
    bottom:0;
    left:0;
top:4500px;
    width: 300px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.camera3 p{
    right:0;
    bottom:0;
    left:0;
top:4600px;
    width: 450px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
/* material */

.material h3{
    right:0;
    bottom:0;
    left:0;
top:4900px;
    width: 700px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:80px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 60px;
}
.material p{
    right:0;
    bottom:0;
    left:0;
top:5000px;
    width: 250px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.material2 p{
    right:0;
    bottom:0;
    left:0;
top:5100px;
    width: 300px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}
.material3 p{
    right:0;
    bottom:0;
    left:0;
top:5200px;
    width: 450px;
    margin-top: -430px;
    position: absolute;
    font-family: "Philosopher", serif;
     color: #ffffff;
    background-color: rgb(0, 0, 0);
    height:45px;
    letter-spacing: 0.5em;
    padding-top: 6px;
margin-left: auto;
margin-right: auto;
font-size: 30px; 
}

.back{
    text-align: center;
    margin-bottom: -100px;
    position: relative;
}

/* ボタン */
/* port*/
.door {
    display: flex;
    margin-bottom: 280px;
    text-align: center;
  }
  .port {
 
    position: relative;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
  }
  .port img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: 0.01s ease-in-out;
    transition: 0.01s ease-in-out;
  }
  .port img:nth-of-type(2) {
    left: 200%;
  }
  .port:hover img:nth-of-type(2) {
    left: 50%;
  }
  /* photo */
  .photo {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
  }
  .photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: 0.01s ease-in-out;
    transition: 0.01s ease-in-out;
  }
  .photo img:nth-of-type(2) {
    left: 200%;
  }
  .photo:hover img:nth-of-type(2) {
    left: 50%;
  }