@charset "UTF-8";

table {
  width: 100%;
}
body{
    background-color: black;
}
html,
body {
  height: 100%;
}
.max-height {
  height: 100%;
}
html {
  background-color: black;
  color: rgb(255, 255, 255);
}
/* フォント */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-english {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}
.tangerine {
  font-family: "Ballet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bodoni {
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* ヘッダー-------------- */
.main-nav {
  font-family: "Philosopher", serif;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.3rem;
  list-style: none;
  width: 100%;
  height: 100px;
  padding: 20px;
  position: relative;
  inset-inline: 50%;
  width: 100vw;
  margin-inline: -50vw;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
}
.main-nav a:hover {
  color: rgb(112, 112, 112);
}
/* about */
.about h1 {
  font-family: "Philosopher", serif;
  right:0;
  bottom:0;
  left:0;
top:200px;
  position: absolute;
  font-size: calc(20px + 20vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 40px #000000, 0 0 60px #000000, 0 0 10px #000000, 0 0 98px #000000;
  color: #ffffff;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  letter-spacing: 0.4em;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #000000, 0 0 60px #000000, 0 0 10px #000000, 0 0 98px #000000;
      color: #ffffff;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #000000, 0 0 60px #000000, 0 0 10px #000000, 0 0 98px #000000;
  color: #ffffff;
  }
}

.about h3 {
  font-family: "Philosopher", serif;
  text-align: center;
  margin-top: 300px;
}
.flower{
  text-align: center;
margin-top: -300px;
margin-left: 350px;
}
.fly{
  text-align: center;
  margin-top: -600px;
  margin-right: 600px;
}
.bottom{
  margin-top: 200px;
  text-align: center;
}
.ps{
text-align: center;
}
.bottom h3{
  font-family: "Philosopher", serif;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.bottom p{
  font-size: 20px;
  font-family: "Philosopher", serif;
  margin-top: 20px;
}
.bottom .text{
  background-color: #ffffff;
  color: #000000;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}
.endfont{
  text-align: center;
  font-family: "Philosopher", serif;
  font-size: 20px;
}
/* ボタン */
/* port*/
.door {
  display: flex;
  text-align: center;
}
.port {

  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.port img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: 0.01s ease-in-out;
  transition: 0.01s ease-in-out;
}
.port img:nth-of-type(2) {
  left: 200%;
}
.port:hover img:nth-of-type(2) {
  left: 50%;
}

/* video */
.video {

  width: 100%;
  height: 100vh;
  background: url(../img/kv-alternative.jpg) no-repeat center/cover;
  top: 500px;
  left: 0;
  z-index: -3;
  overflow: hidden;
}
.video video {
  min-width: 100%;
  min-height: 100%;
}